<body>
<h1>New Account:</h1>
<form action="#" th:action="@{/create-account}" th:object="${createForm}" method="post">
    <p>Name for Account: <input type="text" th:field="*{accountName}"/>
        <span th:if="${#fields.hasErrors('accountName')}" th:errors="*{accountName}">Name Error</span>
    </p>
    <p>Initial Deposit: $<input type="text" th:field="*{initialDeposit}"/>
        <span th:if="${#fields.hasErrors('initialDeposit')}" th:errors="*{initialDeposit}">Name Error</span>
    </p>
    <p>Overdraft Limit: $<input type="text" th:field="*{overdraftLimit}"/>
        <span th:if="${#fields.hasErrors('overdraftLimit')}" th:errors="*{overdraftLimit}">Name Error</span>
    </p>
    <p><input type="submit" value="Create Account"/> <input type="reset" value="Clear"/></p>
</form>
</body>